$fontColor-menu: #229210;
$fontColor-activeMenu: #cccccc;

.menu {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: black;
  display: flex;
  justify-content: center;

  .menu-header {
    font-size: 1.2em;
    width: 960px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: $fontColor-menu;

    .login-menu {
      flex-grow: 0;
    }

    .search {
      flex-grow: 1;
      margin: 0 auto;

      input {
        margin-right: 0.7em;
      }

      button {
        background-color: $fontColor-menu;
        width: 15%;
        height: 1.9em;
      }
    }

    .menu-navigation {
      display: flex;
      flex-grow: 10;
      justify-content: flex-start;

      a {
        color: $fontColor-menu;
        margin-right: 1em;
        cursor: pointer;

        &:hover {
          color: $fontColor-activeMenu
        }

        &:visited {
          color: $fontColor-menu;
        }
      }
    }
  }
}