$button-color: #0f650a;

.login{
  width: 300px;

  form {
    //font-size: 1.2em;
    //border: 1px solid black;
    padding: 0.4em 1em 0.4em 1em;
    margin-top: 6em;
    display: flex;
    flex-direction: column;

    input{
      border: 2px solid black;
      font-size: 1em;
      font-weight: bold;
      margin: 0.4em 0em 0.8em 0em;
      height: 1.8em;
    }

    button{
      background-color: $button-color;
      color: #FFFFFF;
      font-size: 1.2em;
      margin: 0em 15% 0em 15%;
      width: 70%;
      height: 2.5em;
    }
  }
}