$fontColor-menu: #229210;

.footer {
  background-color: black;
  color: $fontColor-menu;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  justify-content: center;

  &-content {
    display: flex;
    width: 960px;
    justify-content: left;
    align-items: center;
    height: 50px;
  }
}