$bodyBackgroundColor: #dfd9cf;
$fontColor-menu: #229210;
$fontColor-activeMenu: #cccccc;
$button-color: #0f650a;

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $bodyBackgroundColor;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;

  .app {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
